<nav class="flex items-center justify-between flex-wrap bg-white px-4 py-2">
  <div class="w-full flex justify-between items-center gap-6 sm:gap-10 px-2">
    <div class="flex items-center flex-shrink-0 text-white mr-2 xl:mr-6">
      <span class="font-semibold text-xl tracking-tight text-blue-900"
        ><a href="/">BookBug</a></span
      >
    </div>

    {% if request.user.is_authenticated %}
    <div
      class="text-md flex flex-col md:flex-row md:gap-2 lg:gap-10 justify-start items-center text-center"
    >
      <a
        href="{% url 'add_category' %}"
        class="block lg:inline-block lg:mt-0 text-blue-900 hover:text-red-900 hover:font-black"
      >
        Add Category
      </a>
      <a
        href="{% url 'add_book' %}"
        class="block lg:inline-block lg:mt-0 text-blue-900 hover:text-red-900 hover:font-black"
      >
        Add Book
      </a>
      <a
        href="{% url 'borrowed_books' user.id %}"
        class="block lg:inline-block lg:mt-0 text-blue-900 hover:text-red-900 hover:font-black"
      >
        Borrowed books
      </a>
      <a
        href="{% url 'activity_report' user.id %}"
        class="block lg:inline-block lg:mt-0 text-blue-900 hover:text-red-900 hover:font-black"
      >
        Activity Report
      </a>
      <a
        href="{% url 'deposit_money' %}"
        class="block lg:inline-block lg:mt-0 text-blue-900 hover:text-red-900 hover:font-black"
      >
        Deposit
      </a>
    </div>

    <div class="flex flex-col lg:flex-row">
      <!-- UserAccount model er related name 'account' die tar balance access kora -->
      <div class="text-blue-900 my-auto font-black px-2 my-2 text-center w-40 sm:w-48 xl:w-56">
        Welcome, {{ request.user.first_name }} (balance : {{request.user.account.balance}})
      </div>
      <!-- UserAccount model er related name 'account' die tar balance access kora -->
      <div class="flex justify-center items-center my-2">
        <div>
          <a
            href="{% url 'profile' %}"
            class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-700lg:mt-0"
            >Profile</a
          >
        </div>
        <!-- <a
        href="{% url 'logout' %}"
        class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-700 mt-4 lg:mt-0"
        >Logout</a
      > -->
        <div>
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button
              class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-700 lg:mt-0"
            >
              Logout
            </button>
          </form>
        </div>
      </div>
    </div>

    {% else %}
    <div class="flex flex-end">
      <div>
        <a
          href="{% url 'login' %}"
          class="mr-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-red-700 mt-4 lg:mt-0"
          >Login</a
        >
      </div>
      <div>
        <a
          href="{% url 'register' %}"
          class="inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0"
          >Register</a
        >
      </div>
    </div>

    {% endif %}
  </div>
</nav>
