{% extends 'base.html' %}

<!-- static load -->
{% load static %}

<!-- title block -->
{% block head_title %} User Profile {% endblock %}

<!-- block content -->
{% block content %}

<!-- to handle non-form field error -->
{% if form.non_field_errors %}
<!-- showing errors -->
{% for error in form.non_field_errors %}
<div
  class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2"
  role="alert"
>
  <p class="font-bold">Error!</p>
  <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} {% endif %}

<!-- to handle non-form field error -->
{% if form.non_field_errors %}
<!-- showing errors -->
{% for error in form.non_field_errors %}
<div
  class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2"
  role="alert"
>
  <p class="font-bold">Error!</p>
  <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} {% endif %}

<div class="bg-white px-3 py-4 rounded-xl my-6">
  <h4 class="font-bold text-3xl text-left pb-5">
    Account NO: {{request.user.account.account_no}}
  </h4>
  <h1 class="font-bold text-3xl text-center pb-5">
    Update Profile Information
  </h1>
  <div class="w-full mt-10">
    <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      {% csrf_token %}

      <!-- to handle hidden form field errors -->
      {% for hidden_field in form.hidden_fields %}
      <!-- to show errors -->
      {{ hidden_field.errors }}
      <!-- form field -->
      {{ hidden_field }}
      <!-- end for -->
      {% endfor %}

      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="{{ form.first_name.id_for_label }}"
          >
            {{ form.first_name.label }}
          </label>
          {{ form.first_name }}
          <!-- first_name errors -->
          {% if form.first_name.errors %}
          <!-- errors -->
          {% for error in form.first_name.errors %}
          <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>

        <div class="w-full md:w-1/2 px-3">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="{{ form.last_name.id_for_label }}"
          >
            {{ form.last_name.label }}
          </label>
          {{ form.last_name }}
          <!-- last_name errors -->
          {% if form.last_name.errors %}
          <!-- errors -->
          {% for error in form.last_name.errors %}
          <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="{{ form.email.id_for_label }}"
          >
            {{ form.email.label }}
          </label>
          {{ form.email }}
          <!-- email errors -->
          {% if form.email.errors %}
          <!-- errors -->
          {% for error in form.email.errors %}
          <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="{{ form.contact_no.id_for_label }}"
          >
            {{ form.contact_no.label }}
          </label>
          {{ form.contact_no }}
          <!-- account_type errors -->
          {% if form.contact_no.errors %}
          <!-- errors -->
          {% for error in form.contact_no.errors %}
          <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="{{ form.gender.id_for_label }}"
          >
            {{ form.gender.label }}
          </label>
          {{ form.gender }}
          <!-- gender errors -->
          {% if form.gender.errors %}
          <!-- errors -->
          {% for error in form.gender.errors %}
          <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="{{ form.birth_date.id_for_label }}"
          >
            {{ form.birth_date.label }}
          </label>
          {{ form.birth_date }}
          <!-- birth_date errors -->
          {% if form.birth_date.errors %}
          <!-- errors -->
          {% for error in form.birth_date.errors %}
          <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>
      </div>

      <div class="flex flex-wrap -mx-3">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="{{ form.password1.id_for_label }}"
          >
            {{ form.password1.label }}
          </label>
          {{ form.password1 }}
          <!-- password1 errors -->
          {% if form.password1.errors %}
          <!-- errors -->
          {% for error in form.password1.errors %}
          <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="{{ form.password2.id_for_label }}"
          >
            {{ form.password2.label }}
          </label>
          {{ form.password2 }}
          <!-- password2 errors -->
          {% if form.password2.errors %}
          <!-- errors -->
          {% for error in form.password2.errors %}
          <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>
      </div>

      <!-- to handle hidden form field errors -->
      {% for hidden_field in form.hidden_fields %}
      <!-- errors -->
      {{ hidden_field.errors }}
      <!-- form field -->
      {{ hidden_field }}
      <!-- rnd for -->
      {% endfor %}

      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="{{ form.street_address.id_for_label }}"
          >
            {{ form.street_address.label }}
          </label>
          {{ form.street_address }}
          <!-- street_address errors -->
          {% if form.street_address.errors %}
          <!-- errors -->
          {% for error in form.street_address.errors %}
          <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>

        <div class="w-full md:w-1/2 px-3">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="{{ form.city.id_for_label }}"
          >
            {{ form.city.label }}
          </label>
          {{ form.city }}
          <!-- city errors -->
          {% if form.city.errors %}
          <!-- errors -->
          {% for error in form.city.errors %}
          <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="{{ form.postal_code.id_for_label }}"
          >
            {{ form.postal_code.label }}
          </label>
          {{ form.postal_code }}
          <!-- postal_code errors -->
          {% if form.postal_code.errors %}
          <!-- errors -->
          {% for error in form.postal_code.errors %}
          <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>

        <div class="w-full md:w-1/2 px-3">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="{{ form.country.id_for_label }}"
          >
            {{ form.country.label }}
          </label>
          {{ form.country }}
          <!-- country errors -->
          {% if form.country.errors %}
          <!-- errors -->
          {% for error in form.country.errors %}
          <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>
      </div>

      <div class="text-center">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Update
        </button>
      </div>
    </form>

    <div class="text-right py-5 mr-10">
      <a
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-5 rounded focus:outline-none focus:shadow-outline"
        href="{% url 'pass_change' %}"
        >Change your Password</a
      >
    </div>
  </div>
</div>

<!-- activity report part -->

<!-- block end -->
{% endblock %}
